
Images/mole/desktop.ini
Images/lose_screens/desktop.ini
Images/fatbird/desktop.ini
Images/explosion/desktop.ini
Images/egg/desktop.ini
Images/desktop.ini
Images/creditsscreen/desktop.ini
Images/clerica/desktop.ini
Images/clerica old/desktop.ini
Images/bunnybird/desktop.ini
Images/breath/desktop.ini
Images/bird/desktop.ini
Images/background/desktop.ini
*.ini
